@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

/* ========= Untuk code background ===================== */
pre {

    background-color: #f2f5f7ba;
    padding: 10px;
}

code {
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style:normal;
}

body{
    background-color: #d3d8ddba;
}